<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
</head>
<body>
    <h1>MADLIBS</h1>
    <form action="/questions">

        <select name="story_id" id="">
            {% for story in stories %}
            <option value="{{story.code}}">
                {{story.title}}
            </option>
            {% endfor %}
        </select>
<button>GO!</button>
    </form>
</body>
</html>